body{
    background-image:url("../img/fondo5.jpg") ;
    background-repeat: no-repeat;
    width: 500px;
    height: 1000px;
}

#IA_logo{
    width: 10%;
    bottom: 5%;
    position: absolute;
    left: 15%;
    z-index: 2;
}
#Sanmina{
    width: 7%;
    bottom: 5%;
    position: absolute;
    right: 3%;
}
/*#fondo{
    position: absolute;
    width: 20%;
    height: 60%;
    right: 0%;
    z-index: 1;
}*/
